In [1]:
## declaring and assinging the variable

age = 23
height = 5.9
name  ="saif abbas"
is_student = True

print("age:", age)
print("height:", height)
print("name:", name)
print("is_student", is_student)

age: 23
height: 5.9
name: saif abbas
is_student True

In [2]:
## valid variable names
first_name = "john"
last_name ="doe"

In [ ]:
##invalid variable names
#1name = "john" # cannot start with a number

In [6]:
name = "saif"
Name = "abbas"

name == Name

False

In [7]:
name = "saif"
Name = "saif"

name == Name

True

In [12]:
#type conversation
age = 23
print(type(age))

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [11]:
age = '23'
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [14]:
## Dynamic typing

var = 10 
print(var,type(var))

var = "hello"
print(var,type(var))

var = 5.67
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
5.67 <class 'float'>

In [18]:
# input function
name = input ("Enter your name:")
print("Your name is:", name)
print("Your name is:",type(name))

Your name is: saifu
Your name is: <class 'str'>

In [20]:
# calculator

num1 = float(input("Enteer first number:"))
num2 = float(input("Enter second number:"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum:", sum)
print("difference:", difference)
print("product:", product)
print("quotient:", quotient)

sum: 66.0
difference: 46.0
product: 560.0
quotient: 5.6