In [1]:
lst=[]
print(type(lst))

<class 'list'>

list : they are ordered collection of items and they are mutable:

In [2]:
names =["saif","sami","sara",1,2,3,4,5]
print(names)
print(names[0])
print(names[1])
print(names[2])

['saif', 'sami', 'sara', 1, 2, 3, 4, 5]
saif
sami
sara

In [4]:
fruits = ["apple","banana","orange","grape","kiwi","melon","watermelon","peach","pear","plum"]
print(fruits)
print(fruits[0])

['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear', 'plum']
apple

In [5]:
fruits[-1]

'plum'

In [6]:
fruits[1:]

['banana',
 'orange',
 'grape',
 'kiwi',
 'melon',
 'watermelon',
 'peach',
 'pear',
 'plum']

In [8]:
fruits[1:6]

['banana', 'orange', 'grape', 'kiwi', 'melon']

In [ ]:
## Modify the list
fruits[1]='strawberry'
print(fruits)

['apple', 'strawberry', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear', 'plum']

In [11]:
fruits = ["apple","banana","orange","grape","kiwi","melon","watermelon","peach","pear","plum"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear', 'plum', 'strawberry']

In [12]:
fruits = ["apple","banana","orange","grape","kiwi","melon","watermelon","peach","pear","plum"]
fruits.insert(1,"strawberry")
print(fruits)

['apple', 'strawberry', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear', 'plum']

In [13]:
## popped remove the last element and return it
fruits = ["apple","banana","orange","grape","kiwi","melon","watermelon","peach","pear","plum"]
print(fruits)
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear', 'plum']
plum
['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear']

In [14]:
index_of_kiwi = fruits.index("kiwi")
print(index_of_kiwi)

4

In [15]:
fruits.insert(2,"kiwi")
print(fruits.count("kiwi"))

2

In [16]:
fruits

['apple',
 'banana',
 'kiwi',
 'orange',
 'grape',
 'kiwi',
 'melon',
 'watermelon',
 'peach',
 'pear']

In [17]:
fruits.remove("kiwi")
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'melon', 'watermelon', 'peach', 'pear']

In [18]:
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'kiwi', 'melon', 'orange', 'peach', 'pear', 'watermelon']

In [19]:
fruits.reverse()
print(fruits)

['watermelon', 'pear', 'peach', 'orange', 'melon', 'kiwi', 'grape', 'banana', 'apple']

In [ ]:
fruits.clear() # remove all elements from the list
print(fruits)

[]

In [23]:
## slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[::-2])
print(numbers[::3])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[1, 4, 7, 10]

In [24]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [25]:
# iterating with index
for index,number in enumerate(numbers):
    print(f"index: {index}, number: {number}")

index: 0, number: 1
index: 1, number: 2
index: 2, number: 3
index: 3, number: 4
index: 4, number: 5
index: 5, number: 6
index: 6, number: 7
index: 7, number: 8
index: 8, number: 9
index: 9, number: 10

In [ ]:
##list comprehension
## basic syntax: [expression for item in iterable if condition]
## with condition [expression for item in iterable if condition]
## nested list comprehension [expression for item1 in iterable1  for item2 in iterable2 ]

lst=[]
for x in range(10):
    lst.append(x**2)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
lst =[]
for i in range(10):
    if i%2==0:
        lst.append(i**2)
        
print(lst)

[0, 4, 16, 36, 64]

In [34]:
squares = [x**2 for x in range(10) if x%2==0]
print(squares)

[0, 4, 16, 36, 64]

In [35]:
lst1 = [1,2,3]
lst2 = ['a','b','c']
pairs = [(x,y) for x in lst1 for y in lst2]
print(pairs)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [36]:
## list comprehension with function calls

words =['hello','world','python','programming']
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 11]

Example 1 : Manage a To Do list

In [1]:
to_do_list = ['buy groceries','clean the house','pay bills',]
# add a new task

to_do_list.append('exercise')
to_do_list.append('schedule a meeting')

## remove a task
to_do_list.remove('clean the house')

## check if a task is in the list
if 'pay bills' in to_do_list:
    print('don\'t forget to pay bills!')
    
print("to do list remaining:")
for task in to_do_list:
    print(f'- {task}')

don't forget to pay bills!
to do list remaining:
- buy groceries
- pay bills
- exercise
- schedule a meeting

Example 2: Organizing student grade

In [3]:
# organizing students grade
grade =[50,60,70,80,90,100]

# adding a new grade
grade.append(85)

#calculating the average grade
average_grade = sum(grade)/len(grade)
print(f'average grade: {average_grade :.2f}')

# finding the highest grade and lowest grade
highest_grade = max(grade)
lowest_grade = min(grade)
print(f'highest grade: {highest_grade}')
print(f'lowest grade: {lowest_grade}')

average grade: 76.43
highest grade: 100
lowest grade: 50