tuples: are ordered collection of items and they are immutable :

In [1]:
## creating tuples

my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [2]:
lst =list()
print(type(lst))
my_tuple = tuple()
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

list can be converted into tuple and tuple can be converted into list

In [3]:
number = tuple([1, 2, 3])
print(number)
print(type(number))

(1, 2, 3)
<class 'tuple'>

In [4]:
list((1,2,3,4,))

[1, 2, 3, 4]

In [5]:
mixed_tuple = (1, "Hello", 3.4)
print(mixed_tuple)

(1, 'Hello', 3.4)

In [7]:
## accessing the elements of a tuple

numbers = (1, 2, 3, 4)
print(numbers[0])
print(numbers[1])

1
2

In [11]:
print(numbers[-1])
print(numbers[1:3])
print(numbers[:3])
print(numbers[2:])
print(numbers[:])
print(numbers[::-1])

4
(2, 3)
(1, 2, 3)
(3, 4)
(1, 2, 3, 4)
(4, 3, 2, 1)

In [12]:
number_tuple = (1, 2, 3, 4, 5)
mixed_tuple = (1, "Hello", 3.4, [1, 2, 3], (4, 5, 6))
concatenated_tuple = number_tuple + mixed_tuple
print(concatenated_tuple)

(1, 2, 3, 4, 5, 1, 'Hello', 3.4, [1, 2, 3], (4, 5, 6))

In [13]:
mixed_tuple = (1, "Hello", 3.4)*3
print(mixed_tuple)

(1, 'Hello', 3.4, 1, 'Hello', 3.4, 1, 'Hello', 3.4)

In [15]:
list = [1, 2, 3]
print(list)
list[1] = "saif"
print(list)

[1, 2, 3]
[1, 'saif', 3]

In [ ]:
numbers = (1, 2, 3, 4, 5,5,5,5,5,5,5,5,5,5,5)
print(numbers.count(5))
print(numbers.index(5)) #it will return the index of the first occurrence of 5

11
4

In [17]:
## packing and unpacking of tuples
## packing

packed_tuple = 1, 2, 3, "Hello", 3.4
print(packed_tuple)

(1, 2, 3, 'Hello', 3.4)

In [18]:
## unpacking tuples
a, b, c, d, e = packed_tuple
print(a)
print(b)
print(c)    
print(d)
print(e)

1
2
3
Hello
3.4

In [19]:
##unpacking with * operator
a, *b, c = packed_tuple
print(a)
print(b)
print(c)

1
[2, 3, 'Hello']
3.4

In [28]:
## nestded tuples
## nested lists
nested_list = [[1,2,3],[4,5,6],[7,8,9],[10,'Hello',3.4]]
print(nested_list)
print(nested_list[0])
print(nested_list[0][1])
print(nested_list[3][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 'Hello', 3.4]]
[1, 2, 3]
2
Hello

In [29]:
nested_list = [[1,2,3],[4,5,6],[7,8,9],(10,'Hello',3.4)]
print(nested_list)
print(nested_list[3])
print(nested_list[3][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], (10, 'Hello', 3.4)]
(10, 'Hello', 3.4)
10

In [30]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9),[10,'Hello',3.4])
print(nested_tuple)
print(nested_tuple[3])
print(nested_tuple[3][0])

((1, 2, 3), (4, 5, 6), (7, 8, 9), [10, 'Hello', 3.4])
[10, 'Hello', 3.4]
10

In [31]:
## iterating through a tuple
nested_tuple = ((1,2,3),(4,5,6),(7,8,9),[10,'Hello',3.4])
for item in nested_tuple:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
[10, 'Hello', 3.4]

In [35]:
nested_tuple = [[1,2,3],[4,5,6],[7,8,9],[10,'Hello',3.4]]
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9
10 Hello 3.4