lambda function: are small anonymous function that defined by lambda keyword.They can have any number of arguments but only one expression.They are commonly used for short operationo or as arguments to higher order function

In [1]:
# syntax:
lambda arguments: expression

In [2]:
def add(x, y):
    return x + y

In [3]:
print(add(5, 3))

8

In [4]:
addition = lambda x, y: x + y
print(addition(5, 3))

8

In [5]:
even1 = lambda num: num % 2 == 0
print(even1(4))

True

In [6]:
print(even1(23))

False

In [7]:
def addition(x, y, z):
    return x + y + z

print(addition(5, 3, 2))

10

In [8]:
# converting to lambda
addition_lambda = lambda x, y, z: x + y + z
print(addition_lambda(5, 3, 2))

10

In [9]:
# map uses lambda functions to apply a function to all items in an iterable
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)

[1, 4, 9, 16, 25]

Map function(): applies a given function to all the item in an input list and return a map object . This is particularly useful for transforming data in a list comprehensively

In [13]:
def square(x):
    return x * x
print(square(10))

100

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
## lambda function with map
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers_lambda = list(map(lambda x: x * x, numbers))
print(squared_numbers_lambda)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
## mapp multiple iterables
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
summed_numbers = list(map(lambda x, y: x + y, numbers1, numbers2))
print(summed_numbers)

[5, 7, 9]

In [17]:
## map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(lambda x: int(x), str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [19]:
words = ['hello', 'world', 'python']
uppercase_words = list(map(lambda x: x.upper(), words))  #or uppercase_words = list(map(str.upper, words))
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON']

In [25]:
def get_name(person):
    return person['name']

people = [
    {'name': 'Alice', 'age': 30, 'city': 'New York'},
    {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]
names = list(map(get_name, people))
print(names)

['Alice', 'Bob', 'Charlie']

Filter(): function construct an iterator from elements of an iterable for which a function returns true. it is used to filter out itemsfrom a list based on condition!!1

In [26]:
def check_even_odd(num):
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

In [27]:
print(check_even_odd(4))
print(check_even_odd(7))

4 is even
None
7 is odd
None

In [28]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
filtered_lst = list(filter(lambda x: x % 2 == 0, lst))
print(filtered_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
filtered_list = list(filter(check_even_odd, lst))
print(filtered_list)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
[]

In [31]:
def even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [32]:
print(even(4))

True

In [33]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
list(filter(even, lst1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [34]:
## filter with lambda 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
greater_than_five = list(filter(lambda x: x > 5, numbers))
print(greater_than_five)

[6, 7, 8, 9, 10]

In [35]:
## filter with lambda function and multiple conditions
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = list(filter(lambda x: x > 5 and x % 2 == 0, numbers))
print(filtered_numbers)

[6, 8, 10]

In [38]:
## filter to check the age is greater than 30 in dictionary
people = [
    {'name': 'Alice', 'age': 30, 'city': 'New York'},
    {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]
filtered_people = list(filter(lambda person: person['age'] >= 30, people))
print(filtered_people)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}]